* {
  font-family: sans-serif;
}

.todo-list .todo .text, .todo-list .todo .status {
  display: inline-block;
}

.todo-list .todo .status {
  font-size: 0.7em;
}

.error {
  color: red;
  font-size: 0.7em;
}

input.error {
  border-color: red;
  color: inherit;
  font-size: inherit;
}
